html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.first_section {
    width: 100%;
}

.first_img_pc img {
    display: none;
}

.first_img_sp img {
    width: 100%;
    height: auto;
}

.second_section {
    width: 100%;
    height: auto;
}

.second_belt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.second_belt img {
    width: 100%;
    height: 6.875rem;
}

.CTA_btn {
    width: 22.25rem;
    height: 3.4375rem;
    position: absolute;
    background: linear-gradient(
        to bottom,
        #FBC783 0%,
        #F9A047 20%,
        #FF8000 50%,
        #F9A047 80%,
        #FBC783 100%
    );
    border-radius: 6.25rem;
    box-shadow: 0.1875rem 0.3125rem 0.3125rem #F01936;
}

.CTA_btn:active {
    transform: translateY(0.1875rem);
    box-shadow: none;
}

.CTA_btn_letter {
    font: normal normal bold 2.5rem/3.625rem Source Han Sans JP;
    color: #FFFFFF;
    font-size: 1.375rem;
    white-space: nowrap;
}

.third_section {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    padding-bottom: 20px;
}

.third_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title_line {
    width: 100%;
    min-height: 0.125rem;
    border-top: 0.125rem solid #000;
}

.third_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 1000;
}

.third_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.third_img_sp {
    width: 11.875rem;
    height: auto;
}

.third_img_pc {
    display: none;
}

.third_block_title {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0.625rem 0;
}

.third_block_detail {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.tihrd_partition {
    border-top: 0.3125rem dotted #000;
    margin: 1.25rem 0;   
}

.fourth_section {
    width: 100%;
    height: auto;
    padding: 35px 28px 37px 28px;
    background-color: #F8F8F8;
}

.fourth_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fourth_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 1000;
}

.fourth_discription {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.fourth_discription_title {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 700;
}

.sp_break {
    display: block;
}

.sp_break_41 {
    display: block;
}

.sp_break_43 {
    display: block;
}

.fourth_discription_detail {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 540;
    margin-bottom: 0.5rem;
}

.fourth_imges_sp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth_imges_sp img {
    width: 100%;
    max-width: 619px;
}

.fourth_imges_pc {
    display: none;
}

.fourth_comment {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fourth_comment p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
    color: #FF0D4F;
    border: 2px solid #000; /* 枠線の太さ・種類・色 */
    padding: 1rem; /* 内側の余白 */
    border-radius: 21px; /* 角を少し丸める */
}

.fourth_comment img {
    width: 48vw;
    max-width: 201px;
    height: auto;
    position: absolute;
    right: -40px;
    transform: translateY(30px);
}

.fifth_section {
    width: 100%;
    height: auto;
}

.fifth_belt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.fifth_belt img {
    width: 100%;
    height: 221px;
}

.fith_title {
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    transform: translateY(-40px);
    margin: 0 25px 0 25px;
}

.fifth_btn {
    transform: translateY(50px);
}

.sp_break_52 {
    display: block;
}


@media screen and (min-width: 425px) {
    .sp_break42 {
        display: block;
    }

    .sp_break_43 {
        display: none;
    }

    .fourth_comment {
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .first_img_pc img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .first_img_sp img {
        display: none;
    }

    .second_belt img {
        width: 100%;
        height: 20vw;
        max-height: 14.25rem;
    }

    .CTA_btn {
        width: 31.25rem;
        height: 4.375rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .CTA_btn_letter {
        font-size: 1.875rem;
    }

    .third_block {
        flex-direction: row;
        justify-content: center;
    }

    .third_img_sp {
        display: none;
    }

    .third_img_pc {
        display: block;
        width: 50%;
        max-width: 32rem;
    }

    .third_block_detail {
        max-width: 29rem;
    }

    .fourth_comment p {
        padding: 18px 44px 24px 24px;
    }

    .fourth_comment img {
        width: 330px;
        max-width: 330px;
        right: auto;
        left: 50%;
        transform: translate(160px, -30px);
    }

    .fifth_belt img {
        width: 100%;
        height: clamp(221px ,27vw ,319px);
    }

    .fith_title p {
        font-size: clamp(1.375rem, 2.7vw, 2rem);
    }

    .sp_break_51 {
        display: block;
    }

    .sp_break_52 {
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .second_belt img {
        width: 100%;
        height: 20vw;
        max-height: 14.25rem;
    }

    .CTA_btn {
        width: 38.75rem;
        height: 6.0625rem;
    }

    .CTA_btn_letter {
        font-size: 2.5rem;
    }

    .third_section {
        padding-right: 10vw;
        padding-left: 10vw;
    }

    .third_title_letter {
        font-size: 2.8125rem;
        margin: 0.4375rem;
    }

    .third_block {
        margin: 2.1875rem 0 2.1875rem 0;
    }

    .third_block_title {
        font-size: clamp(1.375rem, 3vw, 2.1875rem);
    }

    .third_block_detail {
        font-size: 1.25rem;
        margin-top: 0.9375rem;
    }

    .fourth_section {
        padding: 100px 10vw 30px 10vw;
    }

    .fourth_discription_title {
        font-size: 30px;
    }


    .fourth_comment p {
        font-size: 2rem;
        padding: 24px 59px 32px 33px;
        white-space: nowrap;
    }

    .sp_break42 {
        display: none;
    }

    .fourth_comment img {
        width: 40vw;
        max-width: 385px;
        right: auto;
        left: 50%;
        transform: translate(230px, -30px);
    }
    
    .fifth_btn {
        transform: translateY(70px);
    }

    .fith_title p {
        transform: translateY(-33px);
    }

}

@media screen and (max-width: 400px) {
    .CTA_btn {
        width: 18.75rem;
        height: 3.5625rem;
    }

    .CTA_btn_letter {
        font-size: 1.25rem;
    }

    .third_section {
        padding: 1.25rem;
    }

    .third_title_letter {
        font-size: 1.4375rem;
    }
    
    .third_block_title {
        font-size: 1.25rem;
    }

    .fourth_section {
        padding: 20px;
    }
    
    .fourth_title_letter {
        font-size: 23px;
    }
    
    .sp_break {
        display: none;
    }

    .sp_break_41 {
        display: block;
    }
    
    .fourth_comment p {
        padding-right: 30px;
    }
    
    .fith_title p {
        font-size: 1rem;
    }
    
    .sp_break_52 {
        display: none;
    }
}

@media screen and (max-width: 330px) {
    .fourth_comment p {
        padding-right: 20px;
    }

    .fourth_comment img {
        transform: translateY(38px);
    }
}