html {
    font-size: 100%;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.first_section {
    width: 100%;
}

.first_img_pc img {
    display: none;
}

.first_img_sp img {
    width: 100%;
    height: auto;
}

.second_section {
    width: 100%;
    height: auto;
}

.second_belt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.second_belt img {
    width: 100%;
    height: 6.875rem;
}

.CTA_btn {
    width: 22.25rem;
    height: 3.4375rem;
    position: absolute;
    background: linear-gradient(
        to bottom,
        #FBC783 0%,
        #F9A047 20%,
        #FF8000 50%,
        #F9A047 80%,
        #FBC783 100%
    );
    border-radius: 6.25rem;
    box-shadow: 0.1875rem 0.3125rem 0.3125rem #F01936;
}

.CTA_btn:active {
    transform: translateY(0.1875rem);
    box-shadow: none;
}

.CTA_btn_letter {
    font: normal normal bold 2.5rem/3.625rem Source Han Sans JP;
    color: #FFFFFF;
    font-size: 1.375rem;
    white-space: nowrap;
}

.third_section {
    width: 100%;
    height: auto;
    padding: 2.5rem;
    padding-bottom: 1.25rem;
}

.third_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title_line {
    width: 100%;
    min-height: 0.125rem;
    border-top: 0.125rem solid #000;
}

.third_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 1000;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.third_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.third_img_sp {
    width: 11.875rem;
    height: auto;
}

.third_img_pc {
    display: none;
}

.third_block_title {
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0.625rem 0;
}

.third_block_detail {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
}

.tihrd_partition {
    border-top: 0.3125rem dotted #000;
    margin: 1.25rem 0;   
}

.fourth_section {
    width: 100%;
    height: auto;
    padding: 2.1875rem 1.75rem 2.3125rem 1.75rem;
    background-color: #F8F8F8;
}

.fourth_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fourth_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 1000;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.fourth_discription {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.fourth_discription_title {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 700;
}

.sp_break {
    display: block;
}

.sp_break_41 {
    display: block;
}

.sp_break_43 {
    display: block;
}

.fourth_discription_detail {
    font-size: clamp(1rem, 2.5vw, 1.25rem);
    font-weight: 540;
    margin-bottom: 0.5rem;
}

.fourth_imges_sp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth_imges_sp img {
    width: 100%;
    max-width: 38.6875rem;
}

.fourth_imges_pc {
    display: none;
}

.fourth_comment {
    margin-top: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}

.fourth_comment p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    font-weight: 600;
    color: #FF0D4F;
    border: 0.125rem solid #000;
    padding: 1rem;
    border-radius: 1.3125rem;
}

.fourth_comment img {
    width: 48vw;
    max-width: 12.5625rem;
    height: auto;
    position: absolute;
    right: -2.5rem;
    transform: translateY(1.875rem);
}

.fifth_section {
    width: 100%;
    height: auto;
}

.fifth_belt {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
}

.fifth_belt img {
    width: 100%;
    height: 13.8125rem;
}

.fith_title {
    position: absolute;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
    transform: translateY(-2.5rem);
    margin: 0 1.5625rem 0 1.5625rem;
}

.fifth_btn {
    transform: translateY(3.125rem);
}

.sp_break_52 {
    display: block;
}

.sixth_section {
    width: 100%;
    height: auto;
    padding: 2.3rem 1rem 0 1rem;
}

.sixth_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sixth_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 800;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.sixth_contents {
    background-color: rgba(8, 129, 147, 0.1);
    border-radius: 3.125rem;
    padding: 5vw;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1.875rem;
}

.sixth_contents p {
    font-size: clamp(1rem, 3vw, 1.75rem);
    font-weight: 500;
    color: #000000;
    margin: 2rem 0 2rem 0;
    line-height: 1.75rem;
}

.sixth_img_sp {
    width: 100%;
    height: auto;
}

.sp_break_61 {
    display: block;
}

.sp_break_612 {
    display: block;
}

.sp_break_62 {
    display: block;       
}

.sp_break_63 {
    display: block;
}

.sp_break_631 {
    display: block;
}

.sixth_img_pc {
    display: none;
}

.sixth_discription {
    border: 0.125rem solid #000;
    border-radius: 1.3125rem;
    text-align: center;
    padding: 0.875rem 1.6875rem 0.8125rem 1.5rem;
    margin: 1.25rem;
    margin-bottom: 1.0625rem;
    position: relative;
}

.sixth_discription_title {
    font-size: clamp(1rem, 2.8vw, 1.75rem);
    font-family: "源ノ角ゴシック JP";
    line-height: 1.375rem;
    font-weight: 500;
}

.sixth_discription_detail {
    color: #FF0D4F;
    font-size: clamp(1.125rem, 3vw, 2rem);
    line-height: 1.875rem;
    transform: translateX(2.5rem);
    font-weight: medium;
}

.sixth_highlight {
    font-size: clamp(1.375rem, 3vw, 2rem);
}

.sixth_discription img {
    width: 15.3125rem;
    position: absolute;
    right: 53%;
    transform: translateY(-6.8rem);
}

.seventh_section {
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
}

.seventh_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.seventth_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.5625rem, 5vw, 2.81rem);
    font-weight: 800;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.seventh_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seventh_img_sp {
    width: 100%;
    height: auto;
    margin-top: 1.875rem;
}

.seventh_img_pc {
    display: none;
}

.seventh_img_arrow {
    width: 110%;
    margin-bottom: 1.5625rem;
}

.eighth_section {
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
}

.eighth_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.eighth_title_letter {
    display: inline-block;
    margin: 1.25rem 0;
    font-size: clamp(1.375rem, 5vw, 2.81rem);
    font-weight: 800;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    line-height: normal;
}

.sp_break_86 {
    display: block;
}

.eighth_contents {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.eighth_contetns_1 {
    margin: 1.5625rem 0;
    font-size: clamp(1rem, 2vw, 1.25rem); 
    font-family: "Noto Sans JP";
    line-height: 1.75rem;
    font-weight: Regular;
}

.sp_break_81 {
    display: block;
}

.sp_break_82 {
    display: block;
}

.eighth_contents_2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    background-color: rgba(8, 129, 147, 0.1);
    border-radius: 53px;
    padding: 41px 33px 40px 25px;
}

.eighth_contents_21 {
    display: flex;
    text-align: left;
    gap: 0.5rem;
}

.eighth_contents_21 img {
    width: 1.9375rem;
    height: 1.6875rem;
}

.eighth_contents_21 p {
    font-size: clamp(1rem, 2.8vw, 1.56rem);
    font-family: "Noto Sans JP";
    font-weight: Bold;
    line-height: normal;
}

.eighth_contents_3 {
    font-size: clamp(1rem, 2vw, 1.25rem); 
    font-family: "Noto Sans JP";
    font-weight: Regular;
    line-height: normal;
    margin: 1.5625rem 0 1.875rem 0;
}

.sp_break_83 {
    display: block;
}

.sp_break_831 {
    margin: 2rem;
}

.sp_break_84 {
    display: block;
}

.sp_break_85 {
    display: block;
}

.sp_break_88 {
    display: block;
}


@media screen and (min-width: 425px) {
    .sp_break42 {
        display: block;
    }

    .sp_break_43 {
        display: none;
    }

    .fourth_comment {
        padding-right: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .first_img_pc img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .first_img_sp img {
        display: none;
    }

    .second_belt img {
        width: 100%;
        height: 20vw;
        max-height: 14.25rem;
    }

    .CTA_btn {
        width: 31.25rem;
        height: 4.375rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .CTA_btn_letter {
        font-size: 1.875rem;
    }

    .third_block {
        flex-direction: row;
        justify-content: center;
    }

    .third_img_sp {
        display: none;
    }

    .third_img_pc {
        display: block;
        width: 50%;
        max-width: 32rem;
    }

    .third_block_detail {
        max-width: 29rem;
    }

    .fourth_comment p {
        padding: 1.125rem 2.75rem 1.5rem 1.5rem;
    }

    .fourth_comment img {
        width: 20.625rem;
        max-width: 20.625rem;
        right: auto;
        left: 50%;
        transform: translate(10rem, -1.875rem);
    }

    .fifth_belt img {
        width: 100%;
        height: clamp(13.8125rem, 27vw, 19.9375rem);
    }

    .fith_title p {
        font-size: clamp(1.375rem, 2.7vw, 2rem);
    }

    .sp_break_51 {
        display: block;
    }

    .sp_break_52 {
        display: none;
    }

    .sixth_section {
        padding: 3.75rem 2.5rem 0 2.5rem;
    }
    
    
    .sixth_contents {
        margin-top: clamp(1.875rem, 7vw, 4rem);
    }   
    
    .sixth_img_sp {
        display: none;
    }
    
    .sixth_img_pc {
        display: block;
    }
    

    .sp_break_612 {
        display: none;
    }
    
    .sixth_discription {
        padding: 1.5625rem 0.625rem 1.5625rem 3.125rem;
        margin-bottom: 0.6875rem;
    }
    
    .sixth_discription_title {
        margin-bottom: clamp(0.4rem, 2vw, 1rem);
    }
    
    .sp_break_62 {
        display: none;
    }
    
    .sixth_discription_detail {
        transform: translateX(0);
    }

    .sp_break_63 {
        display: none;
    }
    
    .sixth_discription img {
        width: 22.5rem;
        right: 50%;
        left: -11.875rem;
        transform: translateY(-10.5rem);
    }
    
    .seventh_section {
        padding: 0 2.5rem 0 2.5rem;
    }

    .seventh_img_sp {
        display: none;
    }
    
    .seventh_img_pc {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 3.625rem;
    }
    
    .seventh_img_arrow {
        max-width: 25.25rem;
    }
    
    .eighth_section {
        padding: 0 2.5rem;
    }

    
    .sp_break_86 {
    
    }
    
    .eighth_contents {
    
    }
    
    .eighth_contetns_1 {
        margin: 1.875rem 0;
    }
    
    .sp_break_81 {
        display: none;
    }
    
    .sp_break_82 {
    
    }
    
    .eighth_contents_2 {
        width: 100%;
        max-width: 50.6875rem;
        border-radius: 3.3125rem;
        padding: 2.5625rem 2.0625rem 2.5rem 1.5625rem;
    }
    
    .eighth_contents_21 {

    }
    
    .sp_break_88 {
    
    }
    
    .eighth_contents_3 {
    
    }
    
    .sp_break_83 {
    
    }
    
    .sp_break_831 {
    
    }
    
    .sp_break_84 {
    
    }
    
    .sp_break_87 {
    
    }
    
    .sp_break_832 {
    
    }
    
    .sp_break_85 {
    
    }
    
    
}

@media screen and (min-width: 1000px) {
    .second_belt img {
        width: 100%;
        height: 20vw;
        max-height: 14.25rem;
    }

    .CTA_btn {
        width: 38.75rem;
        height: 6.0625rem;
    }

    .CTA_btn_letter {
        font-size: 2.5rem;
    }

    .third_section {
        padding-right: 10vw;
        padding-left: 10vw;
    }

    .third_title_letter {
        font-size: 2.8125rem;
        margin: 0.4375rem;
    }

    .third_block {
        margin: 2.1875rem 0 2.1875rem 0;
    }

    .third_block_title {
        font-size: clamp(1.375rem, 3vw, 2.1875rem);
    }

    .third_block_detail {
        font-size: 1.25rem;
        margin-top: 0.9375rem;
    }

    .fourth_section {
        padding: 6.25rem 10vw 1.875rem 10vw;
    }

    .fourth_discription_title {
        font-size: 1.875rem;
    }

    .fourth_comment p {
        font-size: 2rem;
        padding: 1.5rem 3.6875rem 2rem 2.0625rem;
        white-space: nowrap;
    }

    .sp_break42 {
        display: none;
    }

    .fourth_comment img {
        width: 40vw;
        max-width: 24.0625rem;
        right: auto;
        left: 50%;
        transform: translate(14.375rem, -1.875rem);
    }
    
    .fifth_btn {
        transform: translateY(4.375rem);
    }

    .fith_title p {
        transform: translateY(-2.0625rem);
    }

    .sixth_section {
        padding: 4rem 10vw 0 10vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .sixth_contents {
        width: 100%;
        max-width: 62.375rem;
        margin: 4rem auto 0 auto;
    }

    .sixth_contents p {
        line-height: 2.5rem;
    }
    
    .sixth_discription {
        max-width: 57.5rem;
        margin: 1.25rem auto 2.0625rem auto;
        padding: 1.875rem 4.375rem 1.5625rem 6.875rem;
    }
    
    .sixth_discription_detail {
        line-height: 3.125rem;
        font-weight: medium;
    }
    
    .sixth_discription img {
        width: 30.6875rem;
        transform: translate(-3rem, -13.8rem);
    }

    .seventh_section {
        padding: 0 10vw 0 10vw;
    }  

    .seventh_contents {
        display: flex;
        align-items: center;
    }

    .seventh_img_pc {
        width: 100%;
        max-width: 998px;
    }
    
    .seventh_img_arrow {
        margin-bottom: 0;
    }
    
    
}

@media screen and (max-width: 400px) {
    .CTA_btn {
        width: 18.75rem;
        height: 3.5625rem;
    }

    .CTA_btn_letter {
        font-size: 1.25rem;
    }

    .third_section {
        padding: 1.25rem;
    }

    .third_title_letter {
        font-size: 1.4375rem;
    }
    
    .third_block_title {
        font-size: 1.25rem;
    }

    .fourth_section {
        padding: 1.25rem;
    }
    
    .fourth_title_letter {
        font-size: 1.4375rem;
    }
    
    .sp_break {
        display: none;
    }

    .sp_break_41 {
        display: block;
    }
    
    .fourth_comment p {
        padding-right: 1.875rem;
    }
    
    .fith_title p {
        font-size: 1rem;
    }
    
    .sp_break_52 {
        display: none;
    }

    .sixth_title_letter {
        font-size: 1.3rem;
    }

    .sixth_discription {
        padding: 0.7rem 1.1625rem 0.65rem 0.95rem;
    }

    .sp_break_62 {
        display: none;
    }

    .sp_break_63 {
        display: block;
    }
    
    .sixth_discription_detail {
        transform: translateX(2.2rem);
    }

    .sixth_discription img {
        right: 49%;
        transform: translateY(-6.8rem);
    }

    .eighth_title_letter {
        font-size: 1.2rem;
    }

    
    .eighth_contents_2 {
        padding: 2rem 1.625rem 2rem 1.25rem;
    }

    .sp_break_88 {
        display: none;
    }

    
    .sp_break_832 {
        display: none;
    }

    
    .sp_break_84 {
        display: none;
    }
    
}

@media screen and (max-width: 330px) {
    .fourth_comment p {
        padding-right: 1.25rem;
    }

    .fourth_comment img {
        transform: translateY(2.375rem);
    }
}